/* ////////// Général ///////// */

:root {
    --exia-red1: hsl(357, 95%, 44%);
    --exia-red2: hsl(357, 76%, 72%);
    --exia-grey1: hsl(0, 0%, 70%);
    --exia-grey2: hsl(0, 0%, 96%);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open sans', 'Arial', sans-serif;
}

li a {
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
}




/* /////////// Header /////////// */

.header {
    z-index: 10;
    background-color: var(--exia-red1);
    height: 70px;
    width: 100%;
    padding: 0;
    position: relative;
    float: left;
    background: #dc0612;/* Old Browsers */
    background: -moz-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dc0612), color-stop(50%, #dc0612), color-stop(100%, #ea5050));/* Chrome, Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* IE 10+ */
    background: radial-gradient(ellipse at center, #dc0612 0%, #dc0612 50%, #ea5050 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0612', endColorstr='#ea5050', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

    .header span {
        margin: 0;
        height: 100%;
        line-height: 70px;
        color: white;
    }

    .nav-btn {
        height: 100%;
        width: 80px;
        float: left;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 225ms;
    }

        #nav-btn-svg, #navPhone-btn-svg {
            cursor: pointer;
        }

            #nav-btn-svg rect:nth-of-type(1), #navPhone-btn-svg rect:nth-of-type(1) {
                fill: white;
                transition: all 225ms;
                transform-origin: top left;
            }

            #nav-btn-svg rect:nth-of-type(2), #navPhone-btn-svg rect:nth-of-type(2) {
                fill: white;
                transition: all 225ms;
                transform-origin: left;
            }

            #nav-btn-svg rect:nth-of-type(3), #navPhone-btn-svg rect:nth-of-type(3) {
                fill: white;
                transition: all 225ms;
                transform-origin: bottom left;
            }

    .nav-blc {
        position: absolute;
        top: 70px;
        left: 0;
        width: 200px;
        background-color: var(--exia-red2);
        color: white;
        transition: all 500ms;
        height: 0;
        overflow: hidden;
    }

        .nav-blc-ul {
            list-style: none;
            padding: 0 20px 0 10px;
            display: none;
        }

            .nav-blc-ul-li {
                line-height: 2em;
                padding-left: 10px;
            }

                .nav-blc-ul-li:hover {
                    border-left: 4px solid white;padding-left: 6px;
                }

                .nav-blc-ul-li a {
                    color: white;
                }

    .header-logo {
        background-color: white;
        width: 50px;
        height: 50px;
        margin: 10px 0 0 10px;
        border-radius: 100%;
        position: relative;
        float: left;
    }

        .header-logo-img {
            width: 70%;
            height: 70%;
            position: absolute;
            top: 15%;
            left: 15%;
        }

    .header-spanExia {
        float: left;
        padding-left: 20px;
        font-size: 20px;
    }

    .header-title {
        width: 180px;
        position: absolute;
        left: calc(50% - 90px);
        font-size: 30px;
        text-align: center;
    }

    [class*=header-log-span] {
        width: 100px;
        height: 50% !important;
        line-height: 45px !important;
        text-align: center;
        position: absolute;
        right: 20%;
        top: 0;
    }

    [class*=header-log-status] {
        width: 100px;
        height: 50% !important;
        line-height: 25px !important;
        text-align: center;
        position: absolute;
        right: 20%;
        top: 50%;
    }

    [class*=header-log-name] {
        position: absolute;
        right: 8%;
    }

    .header-logout {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        padding-right: 3%;
        transition: all 225ms;
    }

    .header-logout:nth-child(2):hover {
        padding-right: 3.5%;
    }




/* //////////////// Header Smartphone //////////////// */


.headerPhone {
    z-index: 10;
    background-color: var(--exia-red1);
    height: auto;
    width: 100%;
    padding: 0;
    position: relative;
    float: left;
    background: #dc0612;/* Old Browsers */
    background: -moz-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dc0612), color-stop(50%, #dc0612), color-stop(100%, #ea5050));/* Chrome, Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #dc0612 0%, #dc0612 50%, #ea5050 100%); /* IE 10+ */
    background: radial-gradient(ellipse at center, #dc0612 0%, #dc0612 50%, #ea5050 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0612', endColorstr='#ea5050', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

    .headerPhone span {
        margin: 0;
        height: 40px;
        width: 100%;
        line-height: 40px;
        float: left;
        color: white;
        text-align: center;
    }

    .headerPhone-title {
        font-size: 30px;
        height: 50px !important;
        line-height: 50px !important;
    }

    .headerPhone-spanExia {
        font-size: 20px;
    }

    .navPhone-btn {
        height: 80px;
        width: 100%;
        float: left;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 225ms;
        float: left;
        cursor: pointer;
    }

    .navPhone-blc {
        position: relative;
        float: left;
        width: 100%;
        background-color: var(--exia-red2);
        color: white;
        transition: all 500ms;
        height: 0;
        overflow: hidden;
    }


        .navPhone-blc .nav-blc-ul {
            display: block;
        }

            .navPhone-blc .nav-blc-ul-li {
                float: left;
                width: 100%;
                text-align: center;
                height: 40px;
                line-height: 40px;
                padding: 0;
            }

                .navPhone-blc .nav-blc-ul-li:hover {
                    border: none;
                }

        .navPhone-blc hr {
            width: 60%;
            height: 2px;
            float: left;
            background-color: var(--exia-grey2);
            margin: 10px 20%;
            border: none;
        }

    .headerPhone-logout {
        float: left;
        width: 100%;
        height: 40px;
        transition: all 225ms;
        margin-top: 20px;
    }

    .headerPhone-logout:nth-child(2) {
        margin-top: -40px;
        padding-bottom: 20px;
    }

        .headerPhone-logout:nth-child(2):hover {
            margin-left: -8px;
        }







/* //////////////// Footer //////////////// */

.footer {
    background-color: grey;
    height: 50px;
    color: hsl(0, 0%, 80%);
}

    .footer-akl a {
        text-decoration: none;
        color: white;
    }

    .footer-ul {
        margin: 10px 0 0 0;
        padding: 0;
        width: 75%;
        height: 20px;
    }

        .footer-ul-li {
            list-style: none;
            float: left;
            height: 20px;
            line-height: 20px;
            margin-right: 20px;
            position: relative;
        }

            .footer-ul-li::after {
                content: '';
                position: absolute;
                right: -10px;
                top: 0;
                height: 100%;
                width: 3px;
                background-color: hsl(0, 0%, 80%);
            }

            .footer-ul-li:nth-last-child(1)::after {
                display: none;
            }

            .footer-ul-li a {
                color: hsl(0, 0%, 80%);
            }

    .footer-twitter {
        position: absolute;
        right: 20px;
        bottom: 25px;
    }


@media screen and (max-width: 767px) {
    .footer {
        height: auto;
    }
        .footer-akl {
            width: 100%;
            text-align: center;
            display: block;
        }
        .footer-twitter {
            position: relative;
            margin: 10px auto;
            right: auto;
            bottom: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .footer-ul {
            width: 100%;
        }
    
            .footer-ul-li {
                width: 100%;
                float: left;
                text-align: center;
                height: 30px;
                line-height: 30px;
            }
    
            .footer-ul-li::after {
                content: none;
            }
}