.wrapper {
    width: 100%;
    min-height: calc(100% - 70px);
    float: left;
    background-color: var(--exia-grey2);
}

.banner {
    background-color: white;
    text-align: center;
    margin: 0;
    float: left;
    height: 50px;
}