.wrapper {
    width: 100%;
    min-height: calc(100% - 70px);
    float: left;
    background-color: var(--exia-grey2);
    transition: filter 225ms;
}


/* /////////// Suggestion ////////// */
.banner {
    background-color: white;
    text-align: center;
    margin: 0;
    float: left;
    line-height: 50px;
}

.blcSuggestion {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    overflow: hidden;
}

#displaySuggestion {
    display: flex;
    justify-content: center;
}

    #displaySuggestion::before, #displaySuggestion::after {
        content: '';
        background-image: url(../site_picture/sort-down.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        width: 14px;
        height: 14px;
        margin: 4px 5px 0 5px;
    }

    .suggestion {
        background-color: var(--exia-red2);
        min-height: 250px;
        --primary_color: var(--exia-grey2);
        --secondary_color: var(--exia-grey1);
        display: none;
        margin: 10px;
    }

        .suggestion input::placeholder, .suggestion textarea::placeholder {
            color: white;
        }

        .form-error {
            color: red;
            font-size: .8em;
            position: absolute;
            background-color: hsla(357, 100%, 57%, .5);
            cursor: text;
            pointer-events: none;
            opacity: 0;
        }

        .form-error::after {
            content: 'X';
            position: absolute;
            right: 5px;
            top: 0;
            height: 100%;
            line-height: 30px;
            font-size: 14.4px;
            font-weight: bold;
        }

    .suggestion-title, .modal-title {
        text-align: center;
        width: 100%;
        float: left;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        display: flex;
        justify-content: center;
    }

            .suggestion-title::before, .suggestion-title::after {
                content: '';
                background-image: url(../site_picture/sort-up.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 14px 14px;
                width: 14px;
                height: 14px;
                margin: 6px 5px 0 5px;
            }

    .suggestion-img, .modal-img {
        margin-top: 20px;
        height: 262px;
/*        height: calc(100% - 70px);*/
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        [for*=fileImg] {
            padding: 5px 10px;
            transition: 1s;
        }

        .suggestion-infos-title {
            text-align: center;
        }

        .suggestion-infos input {
            width: calc(50% - 30px);
            float: left;
        }

        .suggestion-infos input:nth-child(1) {
            width: calc(100% - 30px);
        }

        .suggestion-infos-date, .modal-date {
            margin-top: 7.5px;
        }

        .suggestion-infos input[type=text]:focus, .suggestion-infos input[type=date]:focus {
            margin-bottom: 8px;
        }

        .suggestion-infos-description {
            width: calc(100% - 30px);
        }

        .suggestion-infos-submit {
            margin: auto;
            border: none;
            outline: none;
            margin: 10px 0 -10px calc(25% + 15px);
        }





/* /////////// List of suggestions ////////// */

.idea {
    float: left;
}

.idea:nth-child(4n+3), .idea:nth-child(4n+2) {
    background-color: var(--exia-red2);
    --primary_color: var(--exia-grey2);
    --secondary_color: var(--exia-grey1);
    color: white;
    --font_color: white;
}

.idea:nth-child(4n+4), .idea:nth-child(4n+1) {
    background-color: white;
    --primary_color: var(--exia-red2);
    --secondary_color: var(--exia-red1);
    color: black;
    --font_color: black;
}

    [class*=idea-img] {
        height: 200px;
/*        height: calc(100% - 40px);*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .idea-infos {
        display: flex;
        flex-wrap: wrap;
    }

        .idea-infos-like {
            position: absolute;
            top: -10px;
            right: 0;
            width: 40px;
            height: 40px;
            background-size: 30px 30px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            transition: all 225ms;
            transform-origin: bottom left;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .idea-infos-like::after {
            content: attr(value);
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 40px;
            text-align: center;
            color: var(--font_color);
            font-family: 'Open sans', 'Arial', sans-serif;
            font-size: 1.2em;
        }

        .idea-infos-title {
            text-align: center;
            width: calc(100% - 40px);
            margin: -20px 20px 10px 20px;
            font-weight: bold;
            height: 21.6px;
        }

        .idea-infos-date, .idea-infos-place, .idea-infos-price, .idea-infos-club {
            width: 50%;
            font-size: 0.9em;
            position: relative;
            text-indent: 30px;
            height: 20px;
            line-height: 20px;
            margin: 15px 0;
        }

        .idea-infos-description {
            margin: 25px 0 0 0;
            font-size: 0.8em;
            width: 100%;
        }

            .idea-infos-description:focus {
                margin-bottom: -2px
            }

    [class*=idea-admin] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    [class*=idea-report] {
        outline: none;
        border: none;
        font-size: 1em;
        margin: 0 -20px 0 0;
        padding: 10px 20px;
        width: 100%;
    }

        [class*=idea-admin] a {
            margin: 0;
            width: 100%;
        }

        .idea:nth-child(4n+4) .idea-infos-description, .idea:nth-child(4n+1) .idea-infos-description {
            color: black;
        }

        .idea-infos-date::before, .idea-infos-place::before, .idea-infos-price::before, .idea-infos-club::before {
            content: '';
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .idea:nth-child(4n+4) .idea-infos-date::before, .idea:nth-child(4n+1) .idea-infos-date::before {
            background-image: url(../site_picture/date_black.svg);
        }
        .idea:nth-child(4n+3) .idea-infos-date::before, .idea:nth-child(4n+2) .idea-infos-date::before, .idea-infos-date.right::before {
            background-image: url(../site_picture/date_white.svg);
        }

        .idea:nth-child(4n+4) .idea-infos-place::before, .idea:nth-child(4n+1) .idea-infos-place::before {
            background-image: url(../site_picture/place_black.svg);
        }
        .idea:nth-child(4n+3) .idea-infos-place::before, .idea:nth-child(4n+2) .idea-infos-place::before, .idea-infos-place.right::before {
            background-image: url(../site_picture/place_white.svg);
        }

        .idea:nth-child(4n+4) .idea-infos-price::before, .idea:nth-child(4n+1) .idea-infos-price::before {
            background-image: url(../site_picture/price_black.svg);
        }
        .idea:nth-child(4n+3) .idea-infos-price::before, .idea:nth-child(4n+2) .idea-infos-price::before, .idea-infos-price.right::before {
            background-image: url(../site_picture/price_white.svg);
        }

        .idea:nth-child(4n+4) .idea-infos-club::before, .idea:nth-child(4n+1) .idea-infos-club::before {
            background-image: url(../site_picture/club_black.svg);
        }
        .idea:nth-child(4n+3) .idea-infos-club::before, .idea:nth-child(4n+2) .idea-infos-club::before, .idea-infos-club.right::before {
            background-image: url(../site_picture/club_white.svg);
        }




@media screen and (max-width: 1025px) {
    .idea {
        height: auto;
    }

    .idea:nth-child(2n+1) {
        background-color: var(--exia-red2);
        --primary_color: var(--exia-grey2);
        --secondary_color: var(--exia-grey1);
        color: white;
    }

    .idea:nth-child(2n) {
        background-color: white;
        --primary_color: var(--exia-red2);
        --secondary_color: var(--exia-red1);
        color: black;
    }

        [class*=idea-img] {
            height: 280px;
        }

        .idea-infos-like {
            top: 20px;
            right: 20px;
        }

        .idea-infos-title {
            margin: 0 40px 20px 40px;
            width: calc(100% - 80px);
        }

        .idea-infos-date, .idea-infos-place, .idea-infos-price, .idea-infos-club {
            margin: 20px 0;
        }

        .idea-infos-description {
            margin: 10px 0 0 0;
        }
    
    
        .idea:nth-child(2n+1) .idea-infos-description{
            color: white;
        }
    
        .idea:nth-child(2n) .idea-infos-description{
            color: black;
        }

        .idea:nth-child(2n+1) .idea-infos-date::before {
            background-image: url(../site_picture/date_white.svg);
        }
        .idea:nth-child(2n) .idea-infos-date::before {
            background-image: url(../site_picture/date_black.svg);
        }

        .idea:nth-child(2n+1) .idea-infos-place::before {
            background-image: url(../site_picture/place_white.svg);
        }
        .idea:nth-child(2n) .idea-infos-place::before {
            background-image: url(../site_picture/place_black.svg);
        }

        .idea:nth-child(2n+1) .idea-infos-price::before {
            background-image: url(../site_picture/price_white.svg);
        }
        .idea:nth-child(2n) .idea-infos-price::before {
            background-image: url(../site_picture/price_black.svg);
        }

        .idea:nth-child(2n+1) .idea-infos-club::before {
            background-image: url(../site_picture/club_white.svg);
        }
        .idea:nth-child(2n) .idea-infos-club::before {
            background-image: url(../site_picture/club_black.svg);
        }
}




/* /////////////////////////////// Modal /////////////////////////////// */


.backgroundModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--primary_color);
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
    }

    .modal input::placeholder, .modal textarea::placeholder {
        color: var(--exia-grey1);
    }

    .modal [for*=fileImg] {
        margin-bottom: -290px;
        height: 20px;
    }

    .modal-infos {
        --primary_color: var(--exia-red2);
        --secondary_color: var(--exia-red1);
    }

        [class*=modal-infos-id] {
            pointer-events: none !important;
        }

        .modal-infos input {
            width: calc(50% - 30px);
            float: left;
        }

        .modal-infos input[type=text]:focus, .modal-infos input[type=date]:focus {
            margin-bottom: 8px;
        }

        .modal-infos input:nth-child(1) {
            text-align: center;
            width: calc(100% - 30px);
        }

        .modal-infos-description {
            width: calc(100% - 30px);
        }

        .modal-infos-btn {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .modal-infos-submit {
                border: none;
                outline: none;
                margin: 0;
                font-size: 1em;
                width: calc(50% - 20px) !important;
                margin: 0 10px -20px 10px;
                padding: 10px 0;
            }

            .modal-infos-delete {
                --primary_color: var(--exia-red1);
            /*    --secondary_color: var(--exia-red2);*/
                outline: none;
                border: none;
                margin: 0;
                font-size: 1em;
                width: calc(50% - 20px);
                margin: 0 10px -20px 10px;
                padding: 10px 0;
            }

    .radio-blc {
        padding: 0;
        width: calc(100%/3);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

        .AKL-radio--cross {
            margin: 8px;
        }

        .check-label {
            float: left;
            height: 34px;
            line-height: 34px;
            color: white;
            font-size: .9em;
            margin-left: 5px;
        }


@media screen and (max-width: 767px) {
    .modal-img {
        height: 100px;
    }

    .modal [for*=fileImg] {
        margin-bottom: -100px;
    }

    .modal-infos-submit {
        margin: 8px 0 10px calc(25% + 15px);
    }
    
    .modal-infos {
        width: 100%;
        padding: 0;
    }

    .AKL-radio--cross {
        margin: 2px;
    }

    .check-label {
        line-height: 30px;
        font-size: .6em;
        width: 60px;
    }
    .modal-infos-submit, .modal-infos-delete {
        margin: 0 10px 0 10px;
    }
}


/* //////////////////////////// Animations //////////////////////////// */

@keyframes like {
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-10deg);
    }
}

@keyframes unlike {
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
}