.wrapper {
    width: 100%;
    min-height: calc(100% - 70px);
    float: left;
    background-color: var(--exia-grey2);
    transition: filter 225ms;
}

.banner {
    background-color: white;
    text-align: center;
    margin: 0;
    float: left;
    line-height: 50px;
}

.banner-cart {
    position: absolute;
    top: calc(50% - 25px);
    right: 10%;
    background-image: url(../site_picture/cart2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-indent: 4px;
    transition: all 225ms;
}

.banner-cart:hover {
    background-image: none;
}

.banner-cart:hover::after {
    content: 'Panier';
    color: var(--exia-red1);
    position: absolute;
    top: 0;
    left: 0;
    animation: slideIn .225s;
    font-weight: bold;
    text-indent: -5px;
}

@keyframes slideIn {
    from { transform: translateX(-50px); }
    to { transform: translate(0); }
}


/* /////////////////// Search Bar ////////////////////// */

.searchNav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .searchNav-title {
        text-align: center;
        width: 100%;
    }


    .searchNav-titleFilter {
        border-bottom: 2px solid var(--exia-red1);
        width: 350px;
        padding: 10px;
        color: var(--exia-red1);
    }

    .searchNav-titleFilter::before {
        content: '';
        float: left;
        background-image: url(../site_picture/search.svg);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        background-size: 20px;
        margin-right: 10px;
    }

    .searchNav-select {
        height: 30px;
        margin: 5px 0;
        width: 112px;
        float: left;
    }

.searchNav span {
    float: left;
    line-height: 40px;
    margin: 0 10px;
    clear: both;
}

.searchNav input[type=range] {
    float: left;
    margin: 5px 2px;
}

.btnSearch {
    clear: both;
    width: 100px;
    margin-left: 135px;
}




/* ////////// Add article & category ////////// */


.addArticle, .addCategory {
    float: right;
    width: 370px;
    position: relative;
    --primary_color: var(--exia-red2);
    --secondary_color: var(--exia-red1);
    clear: both;
}

    .addArticle-title, .addCategory-title {
        direction: rtl;
        color: var(--exia-red1);
        border-bottom: 2px solid var(--exia-red1);
        padding: 10px;
        text-indent: 10px;
        cursor: pointer;
    }

    .addArticle-title::before, .addCategory-title::before {
        content: '+';
        font-weight: bold;
        font-size: 30px;
        line-height: 20px;
        float: right;
        text-indent: 0;
    }

    .addArticle-blc, .addCategory-blc {
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .addArticle-blc input[type=text], .addCategory-blc input[type=text] {
        width: 40%;
        color: black;
    }

    .addArticle-blc textarea {
        width: calc(80% + 30px);
        color: black;
    }

    .addArticle-blc label {
        width: calc(80% + 10px);
        margin: 10px;
    }

    .addArticle-blc label:hover {
        color: white;
    }

    .addArticle-submit, .addCategory-submit {
        border: none;
        outline: none;
        font-size: 1em;
        color: white;
    }


@media screen and (max-width: 797px) {
    .searchNav {
        justify-content: center;
    }
    
    .addArticle-title, .addCategory-title {
        direction: ltr;
    }

    .addArticle-title::before, .addCategory-title::before {
        float: left;
    }
    
    .addArticle, .addCategory {
/*        width: 90%;*/
    }
}


/* //////////////////////// List Article //////////////////////// */

.listArticle {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .article {
        border-radius: 20px;
        height: 400px;
        overflow: hidden;
        margin: 30px 30px;
        width: 300px;
        transition: all 225ms;
        box-shadow: 0 0 15px -5px black;
    }

    .article:nth-child(2n+1) {
        background-color: var(--exia-red2);
        color: white;
    }

    .article:nth-child(2n) {
        background-color: white;
    }

        .article:hover {
            box-shadow: 0 0 15px black;
            transform: scale(1.1);
            z-index: 2;
        }

        .article-img {
            background-image: url(../shop_picture/default.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: calc(100% - 40px);
            height: calc(60% - 40px);
            position: relative;
            float: left;
        }

            .article-img::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
                background: rgba(0,0,0,0.5);/* Old Browsers */
                background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));/* Chrome, Safari4+ */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* IE 10+ */
                background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);/* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );/* IE6-9 */
            }

                .article-img-title {
                    text-align: center;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    margin: 10px 0;
                }

        .article-infos {
            width: calc(100% - 40px);
            height: calc(40% - 40px);
            float: left;
            z-index: 1;
        }

            .article-infos-price {
                width: 40%;
                float: left;
                text-indent: 5px;
                line-height: 20px;
                font-size: 0.9em;
                margin-top: 10px;
            }

                .article:nth-child(2n+1) .article-infos-price::before{
                    content: '';
                    float: left;
                    width: 20px;
                    height: 20px;
                    background-image: url(../site_picture/price_white.svg);
                    background-size: 20px;
                }

                .article:nth-child(2n) .article-infos-price::before {
                    content: '';
                    float: left;
                    width: 20px;
                    height: 20px;
                    background-image: url(../site_picture/price_black.svg);
                    background-size: 20px;
                }

            .article-infos-category {
                width: 60%;
                float: left;
                text-indent: 5px;
                line-height: 20px;
                font-size: 0.9em;
                margin-top: 10px;
            }

                .article:nth-child(2n+1) .article-infos-category::before {
                    content: '';
                    float: left;
                    width: 20px;
                    height: 20px;
                    background-image: url(../site_picture/category_white.svg);
                    background-size: 20px;
                }

                .article:nth-child(2n) .article-infos-category::before {
                    content: '';
                    float: left;
                    width: 20px;
                    height: 20px;
                    background-image: url(../site_picture/category_black.svg);
                    background-size: 20px;
                }

            .article-infos-description {
                padding: 0;
                width: 100%;
                float: left;
                max-height: 70px;
                overflow: hidden;
                font-size: 0.8em;
                margin-top: 20px;
            }

            .article-infos-btnAdd {
                position: absolute;
                top: -33px;
                right: 0;
                outline: none;
                border: none;
                font-size: 1.3em;
                font-weight: bold;
            }



/* //////////////////// Promotion ////////////////////// */

.promotion {
    background-color: var(--exia-red2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    float: left;
}

    .promotion-title {
        color: white;
        width: 100%;
        text-align: center;
    }

    .promotion .article {
        background-color: white;
        margin: 20px 0;
        color: black;
    }

            .promotion .article .article-infos-price::before {
                background-image: url(../site_picture/price_black.svg);
                    background-size: 20px;
            }

            .promotion .article .article-infos-category::before {
                background-image: url(../site_picture/category_black.svg);
                    background-size: 20px;
            }




/* ////////////////////////////// Modal Cart ////////////////////////////// */


.backgroundModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 500px;
    max-height: 500px;
    overflow-y: auto;
    position: relative;
}

    .modal-title {
        text-align: center;
        width: 100%;
        float: left;
        color: var(--exia-red1);
        font-weight: bold;
        font-size: 1.1em;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        margin: 15px 0;
        border-bottom: 4px solid var(--exia-red1);
    }

    .modal-close {
        position: absolute;
        top: 17px;
        right: 20px;
        color: var(--exia-red1);
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
    }

    .lineTitle, .line {
        width: 100%;
        line-height: 40px;
    }

        .line-delete {
            font-weight: bold;
            color: var(--exia-red1);
            width: 4%;
            margin: 0 5% 0 6%;
            text-align: center;
            display: inline-block;
        }

        .line-name {
            width: 40%;
            display: inline-block;
            text-indent: 10px;
        }

        .line-price {
            width: 22%;
            display: inline-block;
            margin: 0 -5px;
            text-align: center;
        }

        .line-quantity {
            width: 20%;
            display: inline-block;
            text-align: center;
        }

    .line .line-name, .line .line-price, .line .line-quantity {
        border-top: 1.5px solid var(--exia-grey1);
    }

    .lineTT {
        width: 42%;
        line-height: 40px;
        margin-left: 58%;
    }

        .lineTT span {
            display: inline-block;
            width: 48%;
            height: 40px;
            float: left;
        }

        .lineTT-ht, .lineTT-ttc {
            border-top: 1.5px solid var(--exia-grey1);
        }

.modal-payment {
    border: none;
    outline: none;
    font-size: 1em;
    width: 200px;
    margin-left: calc(50% - 100px);
}
