.wrapper {
    width: 100%;
    min-height: calc(100% - 70px);
    float: left;
    background-color: var(--exia-grey2);
    transition: filter 225ms;
}

.banner {
    background-color: white;
    text-align: center;
    margin: 0;
    float: left;
    line-height: 50px;
}

.promotion {
    background-color: var(--exia-red2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    float: left;
}

    .promotion-title {
        color: white;
        width: 100%;
        text-align: center;
    }

    .promotion .article {
        background-color: white;
        border-radius: 20px;
        height: 300px;
        overflow: hidden;
        margin: 20px 0;
    }

        .promotion .article-img {
            background-image: url(../event_picture/buffalo.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: -20px -20px 0 -20px;
            width: 100%;
            height: calc(50% - 20px);
            position: relative;
            float: left;
        }

            .promotion .article-img::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
                background: rgba(0,0,0,0.5);/* Old Browsers */
                background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));/* Chrome, Safari4+ */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* IE 10+ */
                background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);/* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );/* IE6-9 */
            }

            .promotion .article-img-title {
                text-align: center;
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
            }

        .promotion .article-infos {
            margin: 0 -20px -20px -20px;
            width: 100%;
            height: calc(50% - 20px);
            float: left;
        }

.promotion .article-infos-price {
    width: 50%;
    float: left;
    text-indent: 5px;
    line-height: 20px;
}

.promotion .article-infos-price::before {
    content: '';
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../site_picture/price_black.svg);
}

.promotion .article-infos-category {
    width: 50%;
    float: left;
    text-indent: 5px;
    line-height: 20px;
}

.promotion .article-infos-category::before {
    content: '';
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../site_picture/category_black.svg);
}

.promotion .article-infos-description {
    padding: 0;
    width: 100%;
    float: left;
    max-height: 70px;
    overflow: hidden;
    font-size: 0.8em;
}

.promotion .article-infos-btnAdd {
    position: absolute;
    top: -30px;
    right: 0;
    outline: none;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
}